* {
    margin: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

body {

    background-image: url(https://wallpaperaccess.com/full/1698004.jpg);
}

.volkhov-font {
    font-family: Volkhov, serif;
}

h5, .open-sans-font {
    font-family: Open Sans, sans-serif;
}

.sticky-nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.border-dashed {
    border-style: dashed;
    border-color: white;
}

.grey-overlay {
    background-color: rgba(0,0,0,0.5);
}

.blackwood-background {
    background-image: url(../img/blackwoodbackground.jpg);
}

.no-padding {
    padding:0;
}

.wood-background {
    background-image: url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#best-sellers {
    position: relative;
    bottom: 140px;
    float: right;
}

#t-shirts {
    position: relative;
    bottom: 140px;
    float: right;
}

#contact-us {
    position: relative;
    bottom: 140px;
    float: right;
}

