* {
    margin: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://ajradtke.github.io-mfw-final/img/blackwoodbackground.jpg);
    
    /* position: fixed; */
}

.volkhov-font {
    font-family: Volkhov, serif;
}

h5, .open-sans-font {
    font-family: Open Sans, sans-serif;
}

.sticky-nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.border-dashed {
    border-style: dashed;
    border-color: white;
}

.grey-overlay {
    background-color: rgba(0,0,0,0.5);
}

.blackwood-background {
    background-image: url(../img/blackwoodbackground.jpg);
}

.no-padding {
    padding:0;
}

.wood-background {
    background-image: url(../img/wood-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#best-sellers {
    position: relative;
    bottom: 140px;
    float: right;
}

#t-shirts {
    position: relative;
    bottom: 140px;
    float: right;
}

#contact-us {
    position: relative;
    bottom: 140px;
    float: right;
}

